
.container {
    background-color: lightgrey;
    height: 100vh; 
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.box-yellow {
    background-color: khaki;
    height: 25%; 
}


.box-orange {
    background-color: orange;
    height: 25%; 
}


.box-blue {
    background-color: cornflowerblue;
    height: 50%; 
}
